.popup-overlay {
	position: fixed;
	width: 100%;
	height: 80%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	z-index: 1000;
	overflow: hidden; /* 팝업 바깥쪽의 스크롤 방지 */
	 /* 팝업 바깥쪽의 스크롤 방지 */
}

.popup-content {
	background-color: white;
	border-radius: 10px;
	width: 90%; /* 화면 크기에 맞게 조정 */
	max-widthde: 600px; /* 최대 넓이 설정 */
	max-height: 93vh; /* 화면 높이의 80%로 제한 */
	text-align: center;
	/* 상대적 위치 설정 */
	position: relative;
	overflow-y: auto; /* 세로 스크롤바 표시 */
	
	padding: 20px; /* 팝업 내부에 여백 추가 */
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px; */

}

.detail {
	width: 100%;
	height: 45rem;
	max-width: 100%;
	/* overflow-x: auto;*/
	/*overflow-y: auto; */
	text-align: left;
	font-size: 1.375rem;
	color: #000;
	font-family: Roboto;
	z-index: 20;
	border-radius: 10px;
}

.p::-webkit-scrollbar {
	width: 10px;
}

.p::-webkit-scrollbar-track {
	background: rgba(122, 109, 116, 0.1); /*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}

.popup-content::-webkit-scrollbar {
	display: none;
}

.detail-child {
	display: flex;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%; border-radius : 20px;
	background-color: #fff;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* padding-left: 40px; */
	font-size: 19px;
	border-radius: 20px;
}

#content-p {
	overflow-y: auto;
	max-height: 200px;
}


.logo_sunstory {
	display: flex;
	top: 2.375rem;
	left: 1.313rem;
	width: 90px;
	height: 90px;
	object-fit: cover;
	margin-bottom: 10px;
}
.content-top {
	display: flex;
	flex-direction: column;
	align-items: center; justify-content : center; /* 세로 중앙 정렬 */
	gap: 10px; /* 자식 요소 간의 간격 조정 */
	width: 100%; /* 부모gap 요소의 폭에 맞춤 */
	height: 100%; /* 부모 요소의 높이에 맞춤 */
	box-sizing: border-box;
	justify-content: center; /* padding을 포함한 폭 계산 */
}
.image-icon1 {
	display: flex;
	top: 4.938rem;
	left: 3.563rem;
	width: 100%;
	height: 19.938rem;
	overflow: hidden;
	object-fit: cover;
	min-width: 10rem;
	border-radius: 5px;
}

.content-title {
	display: flex;
	top: 27.563rem;
	left: 3.563rem;
	font-size: 2.25rem;
	letter-spacing: 0.5px;
	/* line-height: 1.5rem; */
	/*     display: inline-block; */
	width: 100%;
	/* height: 2.25rem; */
	font-family: 'KOTRA_GOTHIC';
	font-weight: bold;
	/* padding-left: 20px; */
/* 	padding-top: 20px; */
}

.subtitle {
	display: flex;
	top: 30.375rem;
	left: 3.563rem;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	display: inline-block;
	width: 100%;
	height: 7rem;
	/* padding-left: 20px; */
}

#address{
	margin:0;
}

.content-title, .subtitle, .content-text, .using-info, .more-info {
	width: 100%; /* 내용이 팝업 폭에 맞도록 조정 */
	box-sizing: border-box; /* padding 포함 폭 계산 */
}

.subtitle-1, .subtitle-2{
	display: flex;
	align-items: center;
}

.content-text {
	display: flex;
	top: 35.313rem;
	left: 3.563rem;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	/* display: inline-block; */
	width: 100%;
	/* height: 6.313rem; */
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
	/* padding-left: 20px; */
}

.rectangle-using-info {
	display: flex;
	top: 41.313rem;
	left: 2.5rem;
	width: 34.125rem;
	font-size: 1.063rem;
	font-family: Inter;
	justify-content: center;
}

.show-storytelling-text {
	position: relative;
	line-height: 100%;
}

.show-storytelling {
	display: flex;
	top: 3.125rem;
	left: 1.5rem;
	border-radius: 8px;
	background-color: #ffd8aa;
	width: 9.375rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	box-sizing: border-box;
	cursor: pointer;
}

#audioPlayer {
	display : none;
	background-color: #fff; /* 플레이어 배경색 */
	border: 2px solid #ff7f50; /* 주황색 테두리 */
	border-radius: 10px; /* 모서리 둥글게 */
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	text-align: center;
	width: 90%;
}

#coverImage {
	width: 200px; /* 커버 이미지 너비 */
	height: auto; /* 자동 높이 */
	border-radius: 10px; /* 이미지 모서리 둥글게 */
	margin-bottom: 15px; /* 아래 여백 */
}
/* 오디오 요소 스타일 */
#audio {
	width: 100%; /* 오디오 플레이어의 너비를 100%로 설정 */
	background-color: #FFA500; /* 주황색 배경 */
	border: 2px solid #FF8C00; /* 어두운 주황색 테두리 */
	border-radius: 5px; /* 모서리 둥글게 */
	outline: none; /* 기본 아웃라인 제거 */
}

/* 오디오 컨트롤의 스타일을 변경하기 위한 추가 CSS */
#audio::-webkit-media-controls-panel {
	background-color: #FFA500; /* 주황색 배경 */
}

#audio::-webkit-media-controls-play-button, #audio::-webkit-media-controls-volume-slider
	{
	border-radius: 5px; /* 모서리 둥글게 */
}

#audio::-webkit-media-controls-current-time-display, #audio::-webkit-media-controls-time-remaining-display
	{
	color: white; /* 시간 표시를 흰색으로 */
}

.image-info, .image-location{
	width:18px;
	height:18px;
	padding-right: 7px;
}

.p::-webkit-scrollbar {
	width: 10px;
}

.p::-webkit-scrollbar-thumb {
	background: rgb(86, 83, 84); /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.p::-webkit-scrollbar-track {
	background: rgba(122, 109, 116, 0.1); /*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}
#submap {
    width: 100%;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

