 .map-child {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1276px;
        height: 1080px;
        overflow: auto;
  }
  .label-text {
        position: relative;
        letter-spacing: 0.1px;
        line-height: 20px;
        font-weight: 500;
  }
  .state-layer {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px 20px 16px 16px;
  }
  .qrbutton {
        position: absolute;
        top: 948px;
        left: 1119px;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        background-color: #ff7a00;
        width: 90px;
        height: 90px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 80px;
  }
  .map {
        position: absolute;
        top: 0px;
        left: 644px;
        width: 1276px;
        height: 1080px;
  }
  .header-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #fff;
        width: 626px;
        height: 239px;
  }
  .label-text1 {
        position: relative;
        letter-spacing: 0.1px;
        line-height: 20px;
  }
  .state-layer1 {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 24px;
  }
  .button {
        position: absolute;
        top: 0px;
        left: 292.15px;
        border-radius: 100px;
        background-color: #ff7a00;
        width: 129.8px;
        height: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .button1 {
        position: absolute;
        top: 0px;
        left: 143.76px;
        border-radius: 100px;
        background-color: #ff7a00;
        width: 129.8px;
        height: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .button2 {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100px;
        background-color: #ff7a00;
        width: 129.8px;
        height: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .categorybutton {
        position: absolute;
        top: 144px;
        left: 153px;
        width: 422px;
        height: 60px;
  }
  .supporting-text {
        position: relative;
        letter-spacing: 0.5px;
        line-height: 24px;
  }
  .content {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 20px;
  }
  .icon {
        width: 24px;
        position: relative;
        height: 24px;
  }
  .state-layer5 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px;
  }
  .container {
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
  }
  .st-trailing-icon {
        width: 48px;
        height: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .trailing-elements {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
  }
  .state-layer4 {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 4px;
        gap: 4px;
  }
  .search-bar {
        position: absolute;
        top: 54px;
        left: 153px;
        border-radius: 28px;
        background-color: #e8e8e8;
        width: 422px;
        height: 56px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        min-width: 360px;
        max-width: 720px;
        text-align: left;
        font-size: 16px;
        color: #474747;
  }
  .icon1 {
        position: absolute;
        top: 54px;
        left: 15px;
        width: 120px;
        height: 120px;
        object-fit: cover;
  }
  .header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 626px;
        height: 239px;
  }
  .searchbar {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #fff;
        width: 626px;
        height: 1080px;
        font-size: 20px;
  }
  .spot-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        background-color: #fff;
  }
  .image-icon {
        position: absolute;
        height: 83.33%;
        width: 33.04%;
        top: 8.33%;
        right: 63.6%;
        bottom: 8.33%;
        left: 3.36%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
        min-width: 160px;
  }
  .div {
        position: absolute;
        width: 57.01%;
        top: 8.33%;
        left: 39.77%;
        font-size: 32px;
        line-height: 140%;
        font-weight: 600;
        display: inline-block;
  }
  .div1 {
        position: absolute;
        height: 18.52%;
        width: 57.03%;
        top: 29.17%;
        left: 39.78%;
        line-height: 140%;
        font-weight: 600;
        display: inline-block;
  }
  .xx-xx {
        position: absolute;
        height: 18.52%;
        width: 57.03%;
        top: 47.69%;
        left: 39.78%;
        line-height: 140%;
        font-weight: 600;
        white-space: pre-wrap;
        display: inline-block;
  }
  .div2 {
        position: absolute;
        height: 18.52%;
        width: 57.03%;
        top: 66.2%;
        left: 39.78%;
        line-height: 140%;
        font-weight: 600;
        display: inline-block;
  }
  .spot {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
  }
  .alllist {
        position: absolute;
        height: 25.68%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 74.32%;
        left: 0%;
  }
  .spotlistbar {
        position: absolute;
        height: 77.87%;
        width: 32.6%;
        top: 22.13%;
        right: 67.4%;
        bottom: 0%;
        left: 0%;
        background-color: #fff;
        overflow-y: auto;
        text-align: left;
        font-size: 24px;
        color: #000;
        font-family: Inter;
  }
  .mainpage {
        width: 100%;
        position: relative;
        background-color: #fff;
        height: 1080px;
        overflow: hidden;
        text-align: center;
        font-size: 45px;
        color: #fff;
        font-family: Roboto;
  }
  
  
  .detail-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        border-radius: 20px;
        background-color: #fff;
  }
  .div3 {
        position: absolute;
        top: 899px;
        left: 58px;
        letter-spacing: 0.5px;
        line-height: 24px;
  }
  .image-icon1 {
        position: absolute;
        top: 79px;
        left: 57px;
        width: 504px;
        height: 319px;
        overflow: hidden;
        object-fit: cover;
        min-width: 160px;
  }
  .div4 {
        position: absolute;
        top: 441px;
        left: 57px;
        font-size: 36px;
        letter-spacing: 0.5px;
        line-height: 24px;
        display: inline-block;
        width: 495px;
        height: 36px;
  }
  .p {
        margin-block-start: 0;
        margin-block-end: 4px;
  }
  .xx-xx-xxx {
        margin: 0;
  }
  .xx-xx-xxx-container {
        position: absolute;
        top: 486px;
        left: 57px;
        letter-spacing: 0.5px;
        line-height: 24px;
        display: inline-block;
        width: 504px;
        height: 89px;
  }
  .xx-xx-container {
        position: absolute;
        top: 565px;
        left: 57px;
        letter-spacing: 0.5px;
        line-height: 24px;
        display: inline-block;
        width: 504px;
        height: 101px;
  }
  .close-icon {
        position: absolute;
        top: 16px;
        left: 579px;
        width: 35px;
        height: 35px;
  }
  .label-text4 {
        position: relative;
        letter-spacing: 0.1px;
        line-height: 20px;
        font-weight: 500;
  }
  .state-layer6 {
        align-self: stretch;
        flex: 1;
        background-color: #ffd8aa;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 24px;
  }
  .button3 {
        position: absolute;
        top: 954px;
        left: 57px;
        border-radius: 100px;
        width: 504px;
        height: 52px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
  }
  .div5 {
        position: absolute;
        top: 800px;
        left: 57px;
        font-size: 28px;
        line-height: 100%;
        font-family: Inter;
        display: inline-block;
        width: 491px;
  }
  .frame-child {
        position: absolute;
        height: 77.5%;
        width: 100%;
        top: 22.5%;
        right: 0%;
        bottom: 0%;
        left: 0%;
  }
  .headphones-icon {
        position: absolute;
        top: 27px;
        left: 458px;
        width: 70px;
        height: 70px;
        overflow: hidden;
  }
  .button5 {
        position: relative;
        line-height: 100%;
  }
  .button4 {
        position: absolute;
        top: 50px;
        left: 24px;
        border-radius: 8px;
        background-color: #ffd8aa;
        width: 150px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        box-sizing: border-box;
  }
  .rectangle-parent {
        position: absolute;
        top: 661px;
        left: 40px;
        width: 546px;
        height: 120px;
        font-size: 17px;
        font-family: Inter;
  }
  .div6 {
        position: absolute;
        top: 856px;
        left: 57px;
        letter-spacing: 0.5px;
        line-height: 24px;
  }
  .detail {
        width: 633px;
        position: relative;
        height: 1040px;
        max-width: 90%;
        max-height: 90%;
        overflow: auto;
        text-align: left;
        font-size: 22px;
        color: #000;
        font-family: Roboto;
  }
  
  
  .result-child {
        width: 100%;
        position: absolute;
        margin: 0 !important;
        height: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        background-color: #fff;
        z-index: 0;
  }
  .b {
        width: 380px;
        position: relative;
        letter-spacing: 0.5px;
        line-height: 24px;
        display: flex;
        align-items: center;
        height: 57px;
        flex-shrink: 0;
        z-index: 1;
  }
  .xx-xxx {
        width: 383px;
        position: relative;
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 24px;
        color: #757070;
        display: flex;
        align-items: center;
        height: 56px;
        flex-shrink: 0;
        z-index: 2;
  }
  .result {
        position: absolute;
        top: 226px;
        left: 0px;
        width: 402px;
        height: 113px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 10px;
        box-sizing: border-box;
  }
  .result1 {
        position: absolute;
        top: 113px;
        left: 0px;
        width: 402px;
        height: 113px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 10px;
        box-sizing: border-box;
  }
  .result2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 402px;
        height: 113px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 10px;
        box-sizing: border-box;
  }
  .searchlist {
        width: 400px;
        position: relative;
        background-color: #fff;
        height: 339px;
        max-width: 90%;
        max-height: 90%;
        overflow: auto;
        text-align: left;
        font-size: 24px;
        color: #000;
        font-family: Roboto;
  }
