@font-face {
	font-family: 'KOTRA_GOTHIC';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, b, input, label-text3, div {
	font-family: 'KOTRA_GOTHIC';
}

.inner {
	display: flex;
	flex-direction: row;
	width: 32rem;
	height: 32rem;
}

html {
	font-family: 'KOTRA_GOTHIC';
}

p {
	font-size: 14px;
}

.category-text {
	position: relative;
	letter-spacing: 0.1px;
	line-height: 1.25rem;
}

.button-common {
	display: flex;
	border-radius: 100px;
	top: 0rem;
	width: 6.925rem;
	height: 2.5rem;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lookall .repre .tag {
	width: 6.25rem;
	border-radius: 16px;
	background-color: #f77a00;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* div.button-lookall:hover, div.button-lookall:hover button, .qrbutton:hover
	{
	background-color: #ffb868;
	transition: background-color 0.2s;
	cursor: pointer;
} */
.state-layer button {
	background-color: #ff7a00;
	color: white; /* 글자색을 흰색으로 설정 (선택 사항) */
	border: none; /* 기본 테두리 제거 (선택 사항) */
	padding: 10px 20px; /* 버튼의 패딩 조정 (선택 사항) */
	cursor: pointer; /* 마우스 커서를 포인터로 변경 (선택 사항) */
	width: 6.25rem;
	border-radius: 16px;
	background-color: #f77a00;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.state-layer button:hover, .state-layer button:active {
	background-color: #ffb868;
	transition: background-color 0.2s;
	cursor: pointer;
}

.state-layer2 {
	background-color: #D3D3D3;
	color: white;
	border: none;
}

.icon {
	font-size: 24px;
	color: #000;
}

.category {
	display: flex;
	gap: 0.5rem; /* 버튼들 간의 간격 */
	flex-wrap: wrap; /* 작은 화면에서 버튼이 줄바꿈되도록 함 */
	justify-content: center; /* 버튼들을 화면 가운데 정렬 */
}

.supporting-text {
	position: relative;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	width: 10.5rem;
	border: 0;
	background-color: #e8e8e8;
	font-size: 15px;
}

.search-icon {
	width: 1.5rem;
	position: relative;
	height: 1.5rem;
}

.container {
	/* border-radius: 100px; */
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.trailing-elements {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.state-layer3 {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0.25rem;
	gap: 0.25rem;
	width: 15rem;
}

.content {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	/* padding: 0rem 1.25rem; */
}

.logo_sunstory {
	display: flex;
	top: 2.375rem;
	left: 1.313rem;
	width: 90px;
	height: 90px;
	object-fit: cover;
	margin-right: 45px;
}

.header {
	/* 	top: 0rem;
	left: 0rem; */
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	box-sizing: border-box;
	width: 30.375rem;
	height: 7.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: #474747;
	margin-left: 26px;
}

.image-icon {
	display: flex;
	height: 100%;
	width: 33%;
	top: 8.33%;
	right: 63.6%;
	bottom: 8.33%;
	left: 3.36%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.spot-name {
	display: flex;
	height: 18.5%;
	width: 57.04%;
	top: 66.2%;
	left: 39.78%;
	color: black;
	font-size: 15px;
	line-height: 140%;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
}

.spot {
	width: 22.125rem;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	box-sizing: border-box;
	height: 6.35rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0.625rem;
	gap: 1.25rem;
	cursor: pointer;
}

.spot-list {
	top: 0rem;
	left: 0rem;
	width: 22.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.spotlist-frame {
	top: 7.5rem;
	left: 8.25rem;
	background-color: #fff;
	width: 26rem;
	height: 38rem;
	overflow-y: auto;
	font-size: 2rem;
	font-family: Inter;
}

.alll-ist {
	display: flex;
	top: 0rem;
	left: 0rem;
	width: 32.688rem;
	height: 11.25rem;
}

.spotlist-bar {
	display: flex;
	top: 11.688rem;
	left: 0rem;
	background-color: #fff;
	width: 32.688rem;
	height: 55.813rem;
	overflow-y: auto;
	text-align: left;
	font-size: 1.5rem;
	color: #000;
	font-family: Inter;
}

.searchbar {
	display: flex;
	width: 32rem;
	background-color: #fff;
	height: 100%;
	flex-direction: column;
}

.map-frame-icon {
	display: flex;
	top: 0rem;
	left: 0rem;
	width: 87.313rem;
	height: 67.5rem;
}

.label-text3 {
	position: relative;
	letter-spacing: 0.1px;
	/* line-height: 1.25rem; */
	font-weight: 550;
	font-size: 25px;
}

.qrbutton {
	display: flex;
	top: 57.5rem;
	left: 77.125rem;
	border-radius: 16px;
	background-color: #ff7a00;
	width: 3.755rem;
	height: 3.75rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 3.75rem;
	margin-top: 5px;
}

.map {
	width: 87.313rem;
	position: relative;
	height: 100%;
}

.mainpage {
	width: 100%;
	position: relative;
	background-color: #fff;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	font-size: 1rem;
	color: #fff;
	font-family: Roboto;
}

.detail-child {
	display: flex;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	border-radius: 20px;
	background-color: #fff;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* padding-left: 40px; */
	font-size: 19px;
	border-radius: 20px;
}

.image-icon1 {
	display: flex;
	top: 4.938rem;
	left: 3.563rem;
	width: 100%;
	height: 19.938rem;
	overflow: hidden;
	object-fit: cover;
	min-width: 10rem;
	border-radius: 5px;
}

.content-title {
	display: flex;
	top: 27.563rem;
	left: 3.563rem;
	font-size: 2.25rem;
	letter-spacing: 0.5px;
	/* line-height: 1.5rem; */
	/*     display: inline-block; */
	width: 30.938rem;
	/* height: 2.25rem; */
	font-family: 'KOTRA_GOTHIC';
	font-weight: bold;
	/* padding-left: 20px; */
	/* 	padding-top: 20px; */
}

.p {
	/* margin-block-start: 0; */
	margin-block-end: 4px;
	margin: 0;
}

#content-p {
	overflow-y: auto;
	max-height: 200px;
}

.subtitle {
	display: flex;
	top: 30.375rem;
	left: 3.563rem;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	display: inline-block;
	width: 31.5rem;
	height: 5.563rem;
	/* padding-left: 20px; */
}

.content-text {
	display: flex;
	top: 35.313rem;
	left: 3.563rem;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	/* display: inline-block; */
	width: 31.5rem;
	/* height: 6.313rem; */
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
	/* padding-left: 20px; */
}

.close-icon {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.button-text {
	position: relative;
	letter-spacing: 0.1px;
	line-height: 1.25rem;
	font-weight: 500;
}

.more-info-state-layer {
	align-self: stretch;
	flex: 1;
	background-color: #ffd8aa;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.625rem 1.5rem;
}

.more-info {
	display: flex;
	top: 59.625rem;
	left: 3.563rem;
	border-radius: 100px;
	width: 31.5rem;
	height: 3.25rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.25rem;
}

.using-info {
	display: flex;
	top: 50rem;
	left: 3.563rem;
	font-size: 1.75rem;
	line-height: 100%;
	font-family: Inter;
	display: inline-block;
	width: 30.688rem;
}

.frame-child {
	display: flex;
	height: 77.5%;
	width: 60%;
	top: 22.5%;
	right: 0%;
	bottom: 0%;
	left: 0%;
}

.headphones-icon {
	display: flex;
	top: 1.688rem;
	left: 28.625rem;
	width: 4.375rem;
	height: 4.375rem;
	overflow: hidden;
}

.show-storytelling-text {
	position: relative;
	line-height: 100%;
}

.show-storytelling {
	display: flex;
	top: 3.125rem;
	left: 1.5rem;
	border-radius: 8px;
	background-color: #ffd8aa;
	width: 9.375rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	box-sizing: border-box;
	cursor: pointer;
}

.rectangle-using-info {
	display: flex;
	top: 41.313rem;
	left: 2.5rem;
	width: 34.125rem;
	font-size: 1.063rem;
	font-family: Inter;
	justify-content: center;
}

.use-time {
	display: flex;
	top: 53.5rem;
	left: 3.563rem;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
}

.detail {
	width: 39.563rem;
	height: 45rem;
	max-width: 100%;
	/* overflow-x: auto;*/
	/*overflow-y: auto; */
	text-align: left;
	font-size: 1.375rem;
	color: #000;
	font-family: Roboto;
	z-index: 20;
	border-radius: 10px;
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 31.5rem;
	width: 30rem;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	z-index: 1000;
	overflow: hidden; /* 팝업 바깥쪽의 스크롤 방지 */
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {from { margin-left:20%;	
}

to {
	margin-left: 5px;
}

}
.popup-content {
	background-color: white;
	border-radius: 10px;
	width: 90%; /* 화면 크기에 맞게 조정 */
	max-width: 600px; /* 최대 넓이 설정 */
	max-height: 93vh; /* 화면 높이의 80%로 제한 */
	text-align: center;
	/* 상대적 위치 설정 */
	position: relative;
	overflow-y: auto; /* 세로 스크롤바 표시 */
	padding: 20px; /* 팝업 내부에 여백 추가 */
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px; */
}

.popup-content::-webkit-scrollbar {
	display: none;
}

.close-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.content-title, .subtitle, .content-text, .using-info, .more-info {
	width: 100%; /* 내용이 팝업 폭에 맞도록 조정 */
	box-sizing: border-box; /* padding 포함 폭 계산 */
}

.info {
	font-weight: bold;
	color: black;
	font-size: 12px;
}

.list {
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* 스크롤바의 폭 너비 */
.spotlist-frame::-webkit-scrollbar {
	width: 10px;
}

.spotlist-frame::-webkit-scrollbar-thumb {
	background: rgb(86, 83, 84); /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.spotlist-frame::-webkit-scrollbar-track {
	background: rgba(122, 109, 116, 0.1); /*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}

.tag-list::-webkit-scrollbar {
	width: 10px;
}

.tag-list::-webkit-scrollbar-thumb {
	background: rgb(86, 83, 84); /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.tag-list::-webkit-scrollbar-track {
	background: rgba(122, 109, 116, 0.1); /*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}

.p::-webkit-scrollbar {
	width: 10px;
}

.p::-webkit-scrollbar-thumb {
	background: rgb(86, 83, 84); /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.p::-webkit-scrollbar-track {
	background: rgba(122, 109, 116, 0.1); /*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}

button {
	background-color: #e8e8e8;
	border: 0;
}

input:focus {
	outline: none; /* 기본 테두리 제거 */
	border: 2px solid #e8e8e8; /* 클릭 시 테두리 색상 변경 */
}

a {
	text-decoration: none;
	color: white;
}

li {
	padding: 10px;
	list-style: none;
}

.img {
	border-radius: 5px;
}

.active {
	background-color: #ffb868; /* 선택된 버튼의 배경색 */
	color: white; /* 선택된 버튼의 글자색 */
}

.content-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* 세로 중앙 정렬 */
	gap: 10px; /* 자식 요소 간의 간격 조정 */
	width: 100%; /* 부모 요소의 폭에 맞춤 */
	height: 100%; /* 부모 요소의 높이에 맞춤 */
	box-sizing: border-box;
	justify-content: center; /* padding을 포함한 폭 계산 */
}

.content-buttom {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

#submap {
	width: 450px;
	height: 150px;
	margin: 20px;
	border-radius: 10px;
}

.pr-text {
	position: relative;
	letter-spacing: 0.1px;
	line-height: 1.25rem;
	font-weight: 500;
}

.qr-state {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.25rem 1rem 1rem;
}

.qrbutton {
	width: 6.25rem;
	border-radius: 16px;
	background-color: #f77f00;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.875rem;
}

.label-text {
	position: relative;
	letter-spacing: 0.1px;
	line-height: 1.25rem;
	white-space: nowrap;
	font-size: 14px;
}

.state-layer {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.button-lookall {
	width: 6.25rem;
	border-radius: 16px;
	background-color: #f77f00;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.categorybutton {
	align-self: stretch;
	/* height: 16.875rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* padding: 0.625rem; */
	box-sizing: border-box;
	gap: 0.4rem 0rem;
}

.hashtag {
	width: 6.25rem;
	border-radius: 16px;
	background-color: #00bd9d;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.tags {
	width: 7rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	gap: 0.625rem;
	margin-left: 10px;
}

.tag-list {
	display: none;
	position: relative;
	height: 18rem;
	overflow-y: auto;
	flex-shrink: 0;
}

.sidebar {
	background-color: #fff;
	border-right: 1px solid #d9d9d9;
	box-sizing: border-box;
	width: 8rem;
	height: 38rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	color: #fff;
}

.icon {
	width: 6.25rem;
	position: relative;
	height: 6.25rem;
	object-fit: cover;
}

.content {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0rem 1.25rem;
}

.icon1 {
	width: 1.5rem;
	position: relative;
	height: 1.5rem;
}

.icon-layer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.container {
	border-radius: 100px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.st-trailing-icon {
	width: 3rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.trailing-elements {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.search-layer18 {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0.25rem;
	gap: 0.25rem;
}

.search-bar {
	width: 18.75rem;
	border-radius: 28px;
	background-color: #e8e8e8;
	height: 3.125rem;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.image-info, .image-location {
	width: 18px;
	height: 18px;
	padding-right: 7px;
}

.subtitle-1, .subtitle-2 {
	display: flex;
	align-items: center;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9; /* 배경색 */
	color: #333; /* 기본 텍스트 색상 */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#audioPlayer {
	display: none;
	background-color: #fff; /* 플레이어 배경색 */
	border: 2px solid #ff7f50; /* 주황색 테두리 */
	border-radius: 10px; /* 모서리 둥글게 */
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	text-align: center;
	width: 400px;
}

#coverImage {
	width: 200px; /* 커버 이미지 너비 */
	height: auto; /* 자동 높이 */
	border-radius: 10px; /* 이미지 모서리 둥글게 */
	margin-bottom: 15px; /* 아래 여백 */
}
/* 오디오 요소 스타일 */
#audio {
	width: 100%; /* 오디오 플레이어의 너비를 100%로 설정 */
	background-color: #FFA500; /* 주황색 배경 */
	border: 2px solid #FF8C00; /* 어두운 주황색 테두리 */
	border-radius: 5px; /* 모서리 둥글게 */
	outline: none; /* 기본 아웃라인 제거 */
}

/* 오디오 컨트롤의 스타일을 변경하기 위한 추가 CSS */
#audio::-webkit-media-controls-panel {
	background-color: #FFA500; /* 주황색 배경 */
}

#audio::-webkit-media-controls-play-button, #audio::-webkit-media-controls-volume-slider
	{
	border-radius: 5px; /* 모서리 둥글게 */
}

#audio::-webkit-media-controls-current-time-display, #audio::-webkit-media-controls-time-remaining-display
	{
	color: white; /* 시간 표시를 흰색으로 */
}

@media ( min-width : 769px) and (max-width: 991px) {
	.header {
		width: 25.5rem;
	}
	.inner{
		width: 26rem;
	}
	.sidebar{
		width: 6.5rem;
	}
	.tags{
		width: 5.5rem;
	}
	.qrbutton{
		width: 5.5rem;
	}
	.button-lookall{
		width: 5.5rem;
	}
	.hashtag{
	width: 5rem}
	.searchbar {
		width: 25.5rem;
	}
	.spotlist-frame {
		width: 19rem;
	}
	.search-bar {
		width: 14rem;
	}
	.supporting-text {
		width: 9rem;
	}
	.spot-list {
		width: 18rem;
	}
	.image-icon {
		width: 25%;
	}
	.spot {
		width: 18rem;
		gap: 0;
	}
	.popup-overlay {
		left: 25rem;
		width: 25rem;
	}
	.popup-content {
		width: 30rem;
	}
	.spot-name{
		font-size: 14px;
	}
	.detail {
		width: 30rem;
	}
}

@media ( max-width : 769px) {
	.header{
		width: 100%;
	}
	.mainpage {
		flex-direction: column;
	}
	.inner{
	width:100%;
	height: 75%;
	}
	.searchbar{
	height: 60%;
	width: 100%;
	}
	.spotlist-frame {
		height: 100%;
		width: 75%;
	}
	
	
	.spot {
		width: 100%;
	}
	

	.spot-list {
		width: 100%;
	}
	.map {
		height: 40%;
		width: 100%;
	}
	.sidebar {
		height: 38rem;
		width: 25%;
	}
	.tag-list {
		z-index: 100;
	}
	.popup-overlay {
		left: 0;
		width: 100%;
	}
}